/* == Screen >= 1200px == */
.nav {
	max-width: 50rem;
	width: 50rem;
	transition: width 500ms;
}

.list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.item {
	font-size: 2.6rem;
	transition: font-size 500ms;
}

/* == Screen <= 1199px == */
@media screen and (max-width: 76.341em) {
	.nav {
		width: 40rem;
	}
}

/* == Screen <= 992px == */
@media screen and (max-width: 63.108em) {
	.item {
		font-size: 2.2rem;
	}

	.nav {
		width: 30rem;
	}
}

/* == Screen <= 768px == */
@media screen and (max-width: 48.858em) {
	body {
		overflow-x: hidden;
	}

	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: 50%;
		height: 92vh;
		top: 8vh;
		right: 0;
		transform: translateX(100%);
		transition: transform 500ms ease-in;
		background: #1E5A70;
	}

	.link {
		opacity: 0;
	}
}